# Node modules
node_modules/

# Logs
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Dependency directories
bower_components/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.lock
*.tgz
